/* SWIPER - lot of importants to override swiper.css styling imported in RocketPage.js - not ideal*/
.rocketSwiper>.swiper-button-prev, .swiper-button-next{
    padding-left: 3rem;
    padding-right: 3rem;
    border: solid 2px;
    border-radius: 30px;
    color: white !important;
    background-repeat: no-repeat;
    background-size: 40% auto;
    background-position: center;
    top: 90% !important;
    margin-top: 0px !important;
    background-color: #000000;
    transition: 0.1s ease-in;
}
  
.rocketSwiper>.swiper-button-prev:hover{
    background-color: var(--starWhite);
    color: var(--observableBlack) !important;
    fill: var(--observableBlack);
    background-image: url(../media/svg/rocketPage/arrowleftBlack.svg);
}
  
.rocketSwiper>.swiper-button-prev{
    background-image: url(../media/svg/rocketPage/arrowLeft.svg);
    left: 0px !important;
}

.rocketSwiper>.swiper-button-next {
    right: 0px !important;
    background-image: url(../media/svg/rocketPage/arrowRight.svg);
}

.rocketSwiper>.swiper-button-next:hover {
    background-color: var(--starWhite);
    color: var(--observableBlack) !important;
    fill: var(--observableBlack);
    background-image: url(../media/svg/rocketPage/arrowrightBlack.svg);
}

.rocketSwiper>.swiper-button-next::after, .swiper-button-prev::after{
    display: none;
}

.rocketSwiper>.swiper-pagination-bullet-active {
    background-color: rgb(255, 255, 255) !important;
}

.rocketSwiper .swiper-pagination-bullet{
    background-color: #4B4B4B !important;
}

.rocketSwiper .swiper-horizontal .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 0 !important;
    top: 93% !important;
}

.infoCards .swiper-slide {
    /* Center slide text vertically */
    display: flex;
    min-height: 480px;
    width: 20rem !important;
    color: white;
    background-color: none !important;
}

.rocketSwiper>.swiper-container {
    width: 100%;
}